.container {
    text-align: center;
}

.content {
    padding: 0 30px;
}

.title {
    color: #1363DF;
}

.cardContainer {
    justify-content: center;
    padding: 30px 100px;
    display: flex;
    flex-wrap: wrap;
}